In [1]:
import pandas as pd
import datetime as dt

In [3]:
calendar = pd.read_csv("calendar.csv", error_bad_lines=False)
calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,42729,2021-01-11,t,$125.00,$125.00,30.0,90.0
1,2595,2021-01-09,t,$175.00,$175.00,30.0,1125.0
2,2595,2021-01-10,t,$175.00,$175.00,30.0,1125.0
3,2595,2021-01-11,t,$175.00,$175.00,30.0,1125.0
4,2595,2021-01-12,t,$175.00,$175.00,30.0,1125.0
...,...,...,...,...,...,...,...
13554645,46867150,2022-01-06,f,$175.00,$175.00,3.0,1125.0
13554646,46867150,2022-01-07,f,$175.00,$175.00,3.0,1125.0
13554647,46867150,2022-01-08,f,$175.00,$175.00,3.0,1125.0
13554648,46867150,2022-01-09,f,$175.00,$175.00,3.0,1125.0
13554649,46867150,2022-01-10,f,$175.00,$175.00,3.0,1125.0

In [7]:
calendar.dtypes

listing_id                 int64
date              datetime64[ns]
available                 object
price                     object
adjusted_price            object
minimum_nights           float64
maximum_nights           float64
dtype: object

In [5]:
calendar['date']= pd.to_datetime(calendar['date'])

In [6]:
calendar_2021 = calendar.loc[calendar['date'] < "2022-1-1"]
calendar_2021

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,42729,2021-01-11,t,$125.00,$125.00,30.0,90.0
1,2595,2021-01-09,t,$175.00,$175.00,30.0,1125.0
2,2595,2021-01-10,t,$175.00,$175.00,30.0,1125.0
3,2595,2021-01-11,t,$175.00,$175.00,30.0,1125.0
4,2595,2021-01-12,t,$175.00,$175.00,30.0,1125.0
...,...,...,...,...,...,...,...
13554635,46867150,2021-12-27,f,$175.00,$175.00,3.0,1125.0
13554636,46867150,2021-12-28,f,$175.00,$175.00,3.0,1125.0
13554637,46867150,2021-12-29,f,$175.00,$175.00,3.0,1125.0
13554638,46867150,2021-12-30,f,$175.00,$175.00,3.0,1125.0
13554639,46867150,2021-12-31,f,$175.00,$175.00,3.0,1125.0

In [9]:
calendar_2021['month'] = calendar_2021['date'].dt.month_name()
calendar_2021

<ipython-input-9-8cefb1e7d0a2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calendar_2021['month'] = calendar_2021['date'].dt.month_name()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,month
0,42729,2021-01-11,t,$125.00,$125.00,30.0,90.0,January
1,2595,2021-01-09,t,$175.00,$175.00,30.0,1125.0,January
2,2595,2021-01-10,t,$175.00,$175.00,30.0,1125.0,January
3,2595,2021-01-11,t,$175.00,$175.00,30.0,1125.0,January
4,2595,2021-01-12,t,$175.00,$175.00,30.0,1125.0,January
...,...,...,...,...,...,...,...,...
13554635,46867150,2021-12-27,f,$175.00,$175.00,3.0,1125.0,December
13554636,46867150,2021-12-28,f,$175.00,$175.00,3.0,1125.0,December
13554637,46867150,2021-12-29,f,$175.00,$175.00,3.0,1125.0,December
13554638,46867150,2021-12-30,f,$175.00,$175.00,3.0,1125.0,December
13554639,46867150,2021-12-31,f,$175.00,$175.00,3.0,1125.0,December

In [10]:
calendar_2021['day_of_week'] = calendar_2021['date'].dt.day_name()
calendar_2021

<ipython-input-10-b367071a7ee6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calendar_2021['day_of_week'] = calendar_2021['date'].dt.day_name()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,month,day_of_week
0,42729,2021-01-11,t,$125.00,$125.00,30.0,90.0,January,Monday
1,2595,2021-01-09,t,$175.00,$175.00,30.0,1125.0,January,Saturday
2,2595,2021-01-10,t,$175.00,$175.00,30.0,1125.0,January,Sunday
3,2595,2021-01-11,t,$175.00,$175.00,30.0,1125.0,January,Monday
4,2595,2021-01-12,t,$175.00,$175.00,30.0,1125.0,January,Tuesday
...,...,...,...,...,...,...,...,...,...
13554635,46867150,2021-12-27,f,$175.00,$175.00,3.0,1125.0,December,Monday
13554636,46867150,2021-12-28,f,$175.00,$175.00,3.0,1125.0,December,Tuesday
13554637,46867150,2021-12-29,f,$175.00,$175.00,3.0,1125.0,December,Wednesday
13554638,46867150,2021-12-30,f,$175.00,$175.00,3.0,1125.0,December,Thursday
13554639,46867150,2021-12-31,f,$175.00,$175.00,3.0,1125.0,December,Friday

In [11]:
calendar_2021['price'] = calendar_2021['price'].str.replace('$', '')
calendar_2021['price'] = calendar_2021['price'].str.replace(',', '')
calendar_2021

<ipython-input-11-e876da024eee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calendar_2021['price'] = calendar_2021['price'].str.replace('$', '')
<ipython-input-11-e876da024eee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calendar_2021['price'] = calendar_2021['price'].str.replace(',', '')

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,month,day_of_week
0,42729,2021-01-11,t,125.00,$125.00,30.0,90.0,January,Monday
1,2595,2021-01-09,t,175.00,$175.00,30.0,1125.0,January,Saturday
2,2595,2021-01-10,t,175.00,$175.00,30.0,1125.0,January,Sunday
3,2595,2021-01-11,t,175.00,$175.00,30.0,1125.0,January,Monday
4,2595,2021-01-12,t,175.00,$175.00,30.0,1125.0,January,Tuesday
...,...,...,...,...,...,...,...,...,...
13554635,46867150,2021-12-27,f,175.00,$175.00,3.0,1125.0,December,Monday
13554636,46867150,2021-12-28,f,175.00,$175.00,3.0,1125.0,December,Tuesday
13554637,46867150,2021-12-29,f,175.00,$175.00,3.0,1125.0,December,Wednesday
13554638,46867150,2021-12-30,f,175.00,$175.00,3.0,1125.0,December,Thursday
13554639,46867150,2021-12-31,f,175.00,$175.00,3.0,1125.0,December,Friday

In [12]:
calendar_2021['price'] = calendar_2021['price'].astype(float)

<ipython-input-12-f22fceb612c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calendar_2021['price'] = calendar_2021['price'].astype(float)

In [14]:
listings_master = pd.read_csv("listings-master.csv", low_memory=False)
listings_master

,id,listing_url,name,description,picture_url,hostid,host_since,host_response_time,host_response_rate,host_acceptance_rate,...,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,2595,https://www.airbnb.com/rooms/2595,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",https://a0.muscache.com/pictures/f0813a11-40b2...,2845,9/9/2008,within a few hours,0.92,0.25,...,90,365,48,94.0,9.0,9.0,10.0,10.0,9.0,False
1,3831,https://www.airbnb.com/rooms/3831,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",https://a0.muscache.com/pictures/e49999c2-9fd5...,4869,12/7/2008,within an hour,0.95,0.93,...,61,307,375,89.0,9.0,9.0,9.0,10.0,10.0,False
2,5121,https://www.airbnb.com/rooms/5121,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,https://a0.muscache.com/pictures/2090980c-b68e...,7356,2/3/2009,,0.00,0.00,...,90,365,50,90.0,8.0,8.0,10.0,9.0,9.0,False
3,5178,https://www.airbnb.com/rooms/5178,Large Furnished Room Near B'way,Please donâ€™t expect the luxury here just a bas...,https://a0.muscache.com/pictures/12065/f070997...,8967,3/3/2009,within a day,1.00,1.00,...,0,0,474,84.0,9.0,8.0,9.0,10.0,9.0,False
4,279857,https://www.airbnb.com/rooms/279857,Entire Home w 8 BR /5 Bath No share Yellow Block,As seen on The Net Flix Show Stay Here Show 4 ...,https://a0.muscache.com/pictures/4b888435-e2ea...,1420300,11/18/2011,within an hour,1.00,0.96,...,85,347,140,97.0,10.0,10.0,10.0,10.0,10.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36918,46937371,https://www.airbnb.com/rooms/46937371,Gramercy Loft-Studio/Prime Location ~W&D in unit~,This AMAZING ALL Brand NEW **5 Star quality** ...,https://a0.muscache.com/pictures/a70776a5-f510...,27181542,2/3/2015,within an hour,1.00,1.00,...,90,180,0,NaN,NaN,NaN,NaN,NaN,NaN,False
36919,46937954,https://www.airbnb.com/rooms/46937954,Upper West Side Penthouse- Terrace & Hidden Ga...,"Bright, sunny and well-maintained Penthouse wi...",https://a0.muscache.com/pictures/5962e4a1-a1a9...,287807769,8/21/2019,,0.00,0.00,...,83,83,0,NaN,NaN,NaN,NaN,NaN,NaN,False
36920,46938514,https://www.airbnb.com/rooms/46938514,Cozy shared room in East Harlem,"""Common area with twin day bed in the ""El Ba...",https://a0.muscache.com/pictures/94c199b0-5262...,303319010,10/19/2019,,0.00,1.00,...,86,176,0,NaN,NaN,NaN,NaN,NaN,NaN,False
36921,46938537,https://www.airbnb.com/rooms/46938537,Boho Chic Rhapsody in New York City,"Open, loft-like an one bedroom in a historic b...",https://a0.muscache.com/pictures/63174244/283c...,3351317,8/23/2012,within a few hours,1.00,1.00,...,83,83,0,NaN,NaN,NaN,NaN,NaN,NaN,False
36922,46941857,https://www.airbnb.com/rooms/46941857,Modern 4 Bed W/ 5 Bath with Backyard Access,This modern luxurious townhome is nestled on a...,https://a0.muscache.com/pictures/488aaa9e-0e29...,13603829,3/27/2014,within an hour,0.98,0.93,...,79,354,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [15]:
calendar_2021 = calendar_2021.rename(columns={'listing_id': 'id'})

In [16]:
calendar_2021_merge = pd.merge(calendar_2021, listings_master, on="id", how="inner")

In [17]:
calendar_2021_merge

MemoryError: Unable to allocate 482. MiB for an array with shape (5, 12628826) and data type object

MemoryError: Unable to allocate 96.4 MiB for an array with shape (12628826, 1) and data type object

In [36]:
rates_monthly = pd.DataFrame(calendar_2021_merge.groupby([ "borough_id", "month"])["price_x"].mean().reset_index())
rates_monthly

    borough_id      month     price_x
0            1      April   94.166594
1            1     August   96.515881
2            1   December   97.327709
3            1   February   93.644228
4            1    January   94.019776
5            1       July   96.498161
6            1       June   96.372953
7            1      March   93.723012
8            1        May   95.794638
9            1   November   96.909649
10           1    October   96.774689
11           1  September   96.385563
12           2      April  122.522085
13           2     August  125.327260
14           2   December  125.852176
15           2   February  120.731299
16           2    January  120.186944
17           2       July  125.509946
18           2       June  125.203954
19           2      March  121.607186
20           2        May  124.656817
21           2   November  125.488437
22           2    October  125.508677
23           2  September  125.366405
24           3      April  195.318181
25           3     August  198.232297
26           3   December  206.041412
27           3   February  185.126009
28           3    January  183.843700
29           3       July  198.573780
30           3       June  198.854059
31           3      March  188.972185
32           3        May  198.002465
33           3   November  199.762589
34           3    October  199.819033
35           3  September  200.003960
36           4      April  104.912606
37           4     August  107.233745
38           4   December  107.162667
39           4   February  102.709177
40           4    January  101.656990
41           4       July  107.483071
42           4       June  107.245604
43           4      March  104.090545
44           4        May  106.763436
45           4   November  106.969170
46           4    October  106.901373
47           4  September  106.859209
48           5      April  112.439901
49           5     August  115.337570
50           5   December  116.794939
51           5   February  111.474376
52           5    January  111.769697
53           5       July  115.453412
54           5       June  115.246344
55           5      March  112.165248
56           5        May  114.533997
57           5   November  116.011648
58           5    October  115.650438
59           5  September  115.452540

In [37]:
rates_monthly.dtypes

borough_id      int64
month          object
price_x       float64
dtype: object

In [40]:
rates_dayOfWeek = pd.DataFrame(calendar_2021_merge.groupby([ "borough_id", "day_of_week"])["price_x"].mean().reset_index())
rates_dayOfWeek

    borough_id day_of_week     price_x
0            1      Friday   96.966529
1            1      Monday   95.165240
2            1    Saturday   97.037692
3            1      Sunday   95.449858
4            1    Thursday   95.232521
5            1     Tuesday   95.145167
6            1   Wednesday   95.165097
7            2      Friday  126.244262
8            2      Monday  123.233394
9            2    Saturday  126.257502
10           2      Sunday  123.302175
11           2    Thursday  123.321981
12           2     Tuesday  123.225010
13           2   Wednesday  123.241549
14           3      Friday  198.872049
15           3      Monday  195.187167
16           3    Saturday  198.814967
17           3      Sunday  195.022568
18           3    Thursday  195.822394
19           3     Tuesday  195.559874
20           3   Wednesday  195.699758
21           4      Friday  107.828394
22           4      Monday  105.172632
23           4    Saturday  107.954192
24           4      Sunday  105.261405
25           4    Thursday  105.212851
26           4     Tuesday  105.154518
27           4   Wednesday  105.166960
28           5      Friday  116.380009
29           5      Monday  113.618825
30           5    Saturday  116.427225
31           5      Sunday  113.758260
32           5    Thursday  113.736861
33           5     Tuesday  113.609374
34           5   Wednesday  113.644216

In [41]:
rates_monthly.to_csv("rates_monthly.csv")

In [42]:
rates_dayOfWeek.to_csv("rates_dayOfWeek.csv")